

.palja {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  border-radius: 8px;
  width: 320px;

  .palja-pillar {
    display: flex;
    flex-direction: column;

    &:last-child {
      border-right: none;
    }

    .palja-pillar__block {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      font-size: 64px;

      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &.tree { color: #fff; background: #7ADAA5; }
      &.earth { color: #fff; background: #FED16A; }
      &.water { color: #fff; background: #37353E; }
      &.fire { color: #fff; background: #E43636; }
      &.gold { color: #37353E; background: #EEEEEE; }
    }
  }
}
